.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.contact-us-icon {
  margin-right: 15px;
}
.contact-us-heading {
  font-family: roboto;
  font-size: 10px;
}
