.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 50%;
}
@media screen and (min-width: 992px) {
  .login-website-logo-mobile-image {
    display: none;
    border-radius: none;
  }
}

.login-image {
  width: 200px;
  margin-left: 50px;
}
@media screen and (min-width: 992px) {
  .login-image {
    width: 50vw;
    height: 90vh;
  }
}

.form-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
@media screen and (max-width: 991px) {
  .form-main-container {
    width: 100vw;
  }
}

.login-website-logo-desktop-image {
  width: 185px;
}
@media screen and (max-width: 991px) {
  .login-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
    justify-self: center;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  line-height: 16px;
  color: #475569;
}

.input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: flex-start;
  font-size: 12px;
  font-family: 'Roboto';
  margin-top: 3px;
  margin-bottom: 0px;
  color: #ff0b37;
  line-height: 16px;
}
